VITE_APP_API_URL=http://localhost:8080/api
VITE_APP_ENABLE_API_MOCKING=false
VITE_APP_ENABLE_DEMO_SEEDING=true
MONGODB_URI=
APP_URL=http://localhost:3000
APP_MOCK_API_PORT=8080
ENABLE_DEMO_SEEDING=true
